import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    font-family: "Pacifico", cursive;
}
.container {
    max-width: 1000px;
    margin-top: -40%;
    margin-left: 32%;
    padding-left: 10px;
    padding-right: 10px;
}

.table-row:hover {
    color: #5d3be8;
}
.head {
    color: #FFFFFF;
}
.table {
    text-decoration: none;
    color: black;
}
h2 {
    color: #FFFFFF;
    font-size: 26px;
    margin: 20px 0;
    margin-left: -25%;
}

.responsive-table {
    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .table-header {
        background-image: linear-gradient(
                to right bottom,
                #b91eda,
                #a02ae0,
                #8234e5,
                #5d3be8,
                #1241eb
        );
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
        flex-basis: 10%;
    }
    .col-2 {
        flex-basis: 25%;
    }
    .col-3 {
        flex-basis: 25%;
    }
    .col-4 {
        flex-basis: 25%;
    }
    @media all and (max-width: 767px) {
        .table-header {
            display: none;
        }
        .table-row{

        }
        li {
            display: block;
        }
        .col {

            flex-basis: 100%;

        }
        .col {
            display: flex;
            padding: 10px 0;
            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}